/* 基本的なページのスタイリング */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
    
}

/* タイトルのスタイリング */
h2 {
    color: #444;
}

/* ボタンのスタイリング */
button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; /* 角丸 */
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.startButton {
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 80%;
}

/* モーダルの基本スタイル */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* モーダル内コンテンツ */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* 閉じるボタン */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.marumark-button {
    display: inline-block;
    background-color: blue; /* 背景色 */
    color: white; /* テキスト色 */
    padding: 10px 20px; /* パディング */
    margin: 10px; /* 余白 */
    text-decoration: none; /* 下線を消す */
    font-size: 16px; /* フォントサイズ */
    border: none; /* 枠線を消す */
    cursor: pointer; /* カーソルを指に */
    border-radius: 5px; /* 角丸 */
}

.marumark-button:hover {
    background-color: blue; /* ホバー時の背景色 */
}


.modal {
    display: none; /* 最初は非表示 */
    position: fixed; /* 画面に固定 */
    left: 0;
    top: 50%; /* 「スタート」ボタンより下に表示させるために調整 */
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* 背景色 */
    border-radius: 5px; /* 角丸 */border-radius: 5px; /* 角丸 */
}